@import "../../Variables/Variables.scss";

.header-section {
  width: 100%;
  height: auto;
  border-bottom: 1px solid $borderColor;
}
.logo {
  width: 250px;
  display: block;
  margin: 20px auto;
}
